{% extends 'layout.html' %}

{% block title %}No Matches Found{% endblock %}

{% block content %}
    <p>Sorry, no geological units matched your search criteria. Please try again with different parameters.</p>

    <!-- Mostrar las características ingresadas por el usuario -->
    <div class="alert alert-info mb-4">
        <strong>Entered Characteristics:</strong>
        <ul>
            {% if user_inputs['TOC'] %}
                <li><strong>TOC:</strong>
                    {% if '-' in user_inputs['TOC']|string %}
                        {{ user_inputs['TOC'] }} <!-- Si es un rango, lo mostramos tal cual -->
                    {% else %}
                        {{ user_inputs['TOC']|float|int }} <!-- Convertir a entero si no es un rango -->
                    {% endif %}
                </li>
            {% endif %}
            {% if user_inputs['thickness'] %}
                <li><strong>Thickness:</strong>
                    {% if '-' in user_inputs['thickness']|string %}
                        {{ user_inputs['thickness'] }} <!-- Si es un rango, lo mostramos tal cual -->
                    {% else %}
                        {{ user_inputs['thickness']|float|int }} <!-- Convertir a entero si no es un rango -->
                    {% endif %}
                </li>
            {% endif %}
            {% if user_inputs['age'] %}
                <li><strong>Age:</strong> {{ user_inputs['age'] }}</li>
            {% endif %}
            {% if user_inputs['lithology'] %}
                <li><strong>Lithology:</strong> {{ user_inputs['lithology'] }}</li>
            {% endif %}
            {% if user_inputs['porosity'] %}
                <li><strong>Porosity:</strong> {{ user_inputs['porosity'] }}</li>
            {% endif %}
            {% if user_inputs['permeability'] %}
                <li><strong>Permeability:</strong> {{ user_inputs['permeability'] }}</li>
            {% endif %}
            {% if user_inputs['structural_features'] %}
                <li><strong>Structural Features:</strong> {{ user_inputs['structural_features'] }}</li>
            {% endif %}
            {% if user_inputs['hydrocarbon_potential'] %}
                <li><strong>Hydrocarbon Potential:</strong> {{ user_inputs['hydrocarbon_potential'] }}</li>
            {% endif %}
            {% if user_inputs['paleoenvironment'] %}
                <li><strong>Paleoenvironment:</strong> {{ user_inputs['paleoenvironment'] }}</li>
            {% endif %}
        </ul>
    </div>

    <a href="{{ url_for('find_unit') }}" class="btn btn-primary">Try Again</a>
    <a href="/" class="btn btn-primary">Home</a>
{% endblock %}
